.widget_clanwars {
	position: relative;
}

.widget_clanwars .home-team {
	color: #777;
	display: none;
}

.widget_clanwars ul.clanwar-list li {
	list-style: none;
	margin: 0;
	padding: 0;
}

.widget_clanwars ul.clanwar-list li.clanwar-item {
	margin: 0;
	padding: 0.4688em 0;
}

.no-js .widget_clanwars .tabs {
	display: none;
}

.widget-area .widget .tabs,
.widget_clanwars .tabs {
	margin: 0 0 1em;
	padding: 0.4688em 0;
	border-bottom: 1px solid rgba(51, 51, 51, 0.1);
	padding-bottom: 12px;
}

.widget_clanwars .tabs li {
	display: inline-block;
	list-style: none;

	border-radius: 3px;
	text-transform: uppercase;

	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}
.widget_clanwars .tabs li.selected {
	background-color: #F1F1F1;
}

.widget_clanwars .tabs li:hover a,
.widget_clanwars .tabs li.selected a {
	color: #707070;
	color: rgba(51, 51, 51, 0.7);
}

.widget_clanwars .tabs li a {
	text-decoration: none;
	border: 0;
	color: #333;
	display: block;
	padding: 3px 8px;
	outline: 0;
}

.widget_clanwars ul.clanwar-list li.clanwar-item .wrap {
	margin: 0;
	padding: 0;
	clear: both;
}

.widget_clanwars ul.clanwar-list li.clanwar-item .icon {
	float: left;
	margin: 2px 0 0 -25px;
	padding: 0;

}

.widget_clanwars ul.clanwar-list li.clanwar-item.alt {}

.widget_clanwars .scores,
.widget_clanwars .upcoming,
.widget_clanwars .playing
{
	text-align: center;
	min-width: 20px;
	font-size: 0.8em;
	font-weight: normal;
	letter-spacing: 0.5px;
	/*text-shadow: 0 1px 0 #222;*/
	text-transform: uppercase;

	position: absolute;
	padding: 5px;
	right: 0;
	margin: 0;
}

.widget_clanwars .upcoming {
	color: #fff;
	background-color: #7a4a77;
	letter-spacing: 0;
}

@-webkit-keyframes wp-clanwars-pulse {
	0% {
		background-color: #7a4a77;
	}
	50% {
		background-color: #6492ac;
	}
	100% {
		background-color: #7a4a77;
	}
}

@-moz-keyframes wp-clanwars-pulse {
	0% {
		background-color: #7a4a77;
	}
	50% {
		background-color: #6492ac;
	}
	100% {
		background-color: #7a4a77;
	}
}

@keyframes wp-clanwars-pulse {
	0% {
		background-color: #7a4a77;
	}
	50% {
		background-color: #6492ac;
	}
	100% {
		background-color: #7a4a77;
	}
}

.widget_clanwars .playing {
	color: #fff;
	background-color: #6492ac;
	letter-spacing: 0;

	-webkit-animation: wp-clanwars-pulse 2s ease-in-out 0s infinite;
	-moz-animation: wp-clanwars-pulse 2s ease-in-out 0s infinite;
	animation: wp-clanwars-pulse 2s ease-in-out 0s infinite;
}

.widget_clanwars .date {
	font-size: 0.8em;
	color: #777;
}

.widget_clanwars .opponent-team {
	line-height: 1.2em;
	margin-bottom: 5px;
}

.widget_clanwars .scores.win
{
	color: #fff;
	background-color: #567632;
}

.widget_clanwars .scores.draw {
	color: #fff;
	background-color: #c87800;
}

.widget_clanwars .scores.loose,
.widget_clanwars .scores.loss {
	color: #fff;
	background-color: #c00;
}

.widget_clanwars li.clanwar-item a:hover {
	border-bottom: 0;
}
